@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

// Material Theme
@include mat.theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
));

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  direction: rtl;
  text-align: right;
}

html, body {
  height: 100%;
}