// يمكننا حذف كل الـ CSS القديم لأن Tailwind يقوم بالمهمة
// إذا احتجت تخصيص الـ scrollbar
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}